.centerContent {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    height:100vh;
    background:linear-gradient(to top, rgb(183, 88, 88,1), rgb(48, 55, 229,0.9))
}